<% include partials/header %>

<h1 style="text-align: center;"><%= campground.name %></h1>
<div style="margin: 0 auto; text-align: center;">
	<img src="<%= campground.image %>" alt="camp image"/>
	<div class="caption"><%= campground.description %></div>
	<% campground.comments.forEach(function(comment) { %>
		<p>
			<strong>
				<%=comment.author%> - <%=comment.comment%>
			</strong>
		</p>
	<% }) %>

</div>

<% include partials/footer %>